<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>drug-delivery-system</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddCustomServlet</servlet-name>
    <servlet-class>com.servlet.AddCustomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomServlet</servlet-name>
    <url-pattern>/com/servlet/AddCustomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>com.servlet.CheckUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/com/servlet/CheckUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RepairCar</servlet-name>
    <servlet-class>com.servlet.RepairCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepairCar</servlet-name>
    <url-pattern>/com/servlet/RepairCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDrugServlet</servlet-name>
    <servlet-class>com.servlet.DeleteDrugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDrugServlet</servlet-name>
    <url-pattern>/com/servlet/DeleteDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserConfirmServlet</servlet-name>
    <servlet-class>com.servlet.UserConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserConfirmServlet</servlet-name>
    <url-pattern>/com/servlet/UserConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeCustomInfo</servlet-name>
    <servlet-class>com.servlet.ChangeCustomInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCustomInfo</servlet-name>
    <url-pattern>/com/servlet/ChangeCustomInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/com/servlet/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllDrugServlet</servlet-name>
    <servlet-class>com.servlet.GetAllDrugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllDrugServlet</servlet-name>
    <url-pattern>/com/servlet/GetAllDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSpecialDrugServlet</servlet-name>
    <servlet-class>com.servlet.GetSpecialDrugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSpecialDrugServlet</servlet-name>
    <url-pattern>/com/servlet/GetSpecialDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDrugServlet</servlet-name>
    <servlet-class>com.servlet.AddDrugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDrugServlet</servlet-name>
    <url-pattern>/com/servlet/AddDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDrugCart</servlet-name>
    <servlet-class>com.servlet.AddDrugCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDrugCart</servlet-name>
    <url-pattern>/com/servlet/AddDrugCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>com.servlet.ShowCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/com/servlet/ShowCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCart</servlet-name>
    <servlet-class>com.servlet.DeleteCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCart</servlet-name>
    <url-pattern>/com/servlet/DeleteCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddZAdmin</servlet-name>
    <servlet-class>com.servlet.AddZAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddZAdmin</servlet-name>
    <url-pattern>/com/servlet/AddZAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowFAdmin</servlet-name>
    <servlet-class>com.servlet.ShowFAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFAdmin</servlet-name>
    <url-pattern>/com/servlet/ShowFAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowZAdmin</servlet-name>
    <servlet-class>com.servlet.ShowZAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowZAdmin</servlet-name>
    <url-pattern>/com/servlet/ShowZAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddFAdmin</servlet-name>
    <servlet-class>com.servlet.AddFAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFAdmin</servlet-name>
    <url-pattern>/com/servlet/AddFAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowLogisticAdmin</servlet-name>
    <servlet-class>com.servlet.ShowLogisticAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLogisticAdmin</servlet-name>
    <url-pattern>/com/servlet/ShowLogisticAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLogisticAdmin</servlet-name>
    <servlet-class>com.servlet.AddLogisticAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLogisticAdmin</servlet-name>
    <url-pattern>/com/servlet/AddLogisticAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CarManager</servlet-name>
    <servlet-class>com.servlet.CarManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarManager</servlet-name>
    <url-pattern>/com/servlet/CarManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCar</servlet-name>
    <servlet-class>com.servlet.AddCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCar</servlet-name>
    <url-pattern>/com/servlet/AddCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitOrder</servlet-name>
    <servlet-class>com.servlet.SubmitOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrder</servlet-name>
    <url-pattern>/com/servlet/SubmitOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCustomOrder</servlet-name>
    <servlet-class>com.servlet.ShowCustomOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCustomOrder</servlet-name>
    <url-pattern>/com/servlet/ShowCustomOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCustomUnAccept</servlet-name>
    <servlet-class>com.servlet.ShowCustomUnAccept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCustomUnAccept</servlet-name>
    <url-pattern>/com/servlet/ShowCustomUnAccept</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCustomFinish</servlet-name>
    <servlet-class>com.servlet.ShowCustomFinish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCustomFinish</servlet-name>
    <url-pattern>/com/servlet/ShowCustomFinish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCustomUnFinish</servlet-name>
    <servlet-class>com.servlet.ShowCustomUnFinish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCustomUnFinish</servlet-name>
    <url-pattern>/com/servlet/ShowCustomUnFinish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelOrder</servlet-name>
    <servlet-class>com.servlet.CancelOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrder</servlet-name>
    <url-pattern>/com/servlet/CancelOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZcompGetAllDrugServlet</servlet-name>
    <servlet-class>com.servlet.ZcompGetAllDrugServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZcompGetAllDrugServlet</servlet-name>
    <url-pattern>/com/servlet/ZcompGetAllDrugServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllUnFinishOrder</servlet-name>
    <servlet-class>com.servlet.GetAllUnFinishOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUnFinishOrder</servlet-name>
    <url-pattern>/com/servlet/GetAllUnFinishOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUnAcceptOrder</servlet-name>
    <servlet-class>com.servlet.GetUnAcceptOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUnAcceptOrder</servlet-name>
    <url-pattern>/com/servlet/GetUnAcceptOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZcompGetFinishtOrder</servlet-name>
    <servlet-class>com.servlet.ZcompGetFinishtOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZcompGetFinishtOrder</servlet-name>
    <url-pattern>/com/servlet/ZcompGetFinishtOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZcompSearchOrder</servlet-name>
    <servlet-class>com.servlet.ZcompSearchOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZcompSearchOrder</servlet-name>
    <url-pattern>/com/servlet/ZcompSearchOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZcompSearchDrugByName</servlet-name>
    <servlet-class>com.servlet.ZcompSearchDrugByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZcompSearchDrugByName</servlet-name>
    <url-pattern>/com/servlet/ZcompSearchDrugByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FcompFinish</servlet-name>
    <servlet-class>com.servlet.FcompFinish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FcompFinish</servlet-name>
    <url-pattern>/com/servlet/FcompFinish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FcompUnAccept</servlet-name>
    <servlet-class>com.servlet.FcompUnAccept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FcompUnAccept</servlet-name>
    <url-pattern>/com/servlet/FcompUnAccept</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FcompUnFinish</servlet-name>
    <servlet-class>com.servlet.FcompUnFinish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FcompUnFinish</servlet-name>
    <url-pattern>/com/servlet/FcompUnFinish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FcompUnGo</servlet-name>
    <servlet-class>com.servlet.FcompUnGo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FcompUnGo</servlet-name>
    <url-pattern>/com/servlet/FcompUnGo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FcompLetGo</servlet-name>
    <servlet-class>com.servlet.FcompLetGo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FcompLetGo</servlet-name>
    <url-pattern>/com/servlet/FcompLetGo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogisticFinish</servlet-name>
    <servlet-class>com.servlet.LogisticFinish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogisticFinish</servlet-name>
    <url-pattern>/com/servlet/LogisticFinish</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogisticUnAccept</servlet-name>
    <servlet-class>com.servlet.LogisticUnAccept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogisticUnAccept</servlet-name>
    <url-pattern>/com/servlet/LogisticUnAccept</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogisticUnDispatcher</servlet-name>
    <servlet-class>com.servlet.LogisticUnDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogisticUnDispatcher</servlet-name>
    <url-pattern>/com/servlet/LogisticUnDispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogisticDispatcherCar</servlet-name>
    <servlet-class>com.servlet.LogisticDispatcherCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogisticDispatcherCar</servlet-name>
    <url-pattern>/com/servlet/LogisticDispatcherCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogisticFinishing</servlet-name>
    <servlet-class>com.servlet.LogisticFinishing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogisticFinishing</servlet-name>
    <url-pattern>/com/servlet/LogisticFinishing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogisticUpdateInfo</servlet-name>
    <servlet-class>com.servlet.LogisticUpdateInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogisticUpdateInfo</servlet-name>
    <url-pattern>/com/servlet/LogisticUpdateInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodBye</servlet-name>
    <servlet-class>com.servlet.GoodBye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodBye</servlet-name>
    <url-pattern>/com/servlet/GoodBye</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RepairedCar</servlet-name>
    <servlet-class>com.servlet.RepairedCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepairedCar</servlet-name>
    <url-pattern>/com/servlet/RepairedCar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CarFree</servlet-name>
    <servlet-class>com.servlet.CarFree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarFree</servlet-name>
    <url-pattern>/com/servlet/CarFree</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchForSecondClass</servlet-name>
    <servlet-class>com.servlet.SearchForSecondClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchForSecondClass</servlet-name>
    <url-pattern>/com/servlet/SearchForSecondClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComstomSearchDrugByClass</servlet-name>
    <servlet-class>com.servlet.ComstomSearchDrugByClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComstomSearchDrugByClass</servlet-name>
    <url-pattern>/com/servlet/ComstomSearchDrugByClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZcompSearchDrugByClass</servlet-name>
    <servlet-class>com.servlet.ZcompSearchDrugByClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZcompSearchDrugByClass</servlet-name>
    <url-pattern>/com/servlet/ZcompSearchDrugByClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.servlet.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/com/servlet/UploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckUserIsrx</servlet-name>
    <servlet-class>com.servlet.CheckUserIsrx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserIsrx</servlet-name>
    <url-pattern>/com/servlet/CheckUserIsrx</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FcompUnLetGo</servlet-name>
    <servlet-class>com.servlet.FcompUnLetGo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FcompUnLetGo</servlet-name>
    <url-pattern>/com/servlet/FcompUnLetGo</url-pattern>
  </servlet-mapping>
</web-app>